.wrapper
  display: flex
  flex-direction: column
  width: 100%
.headerContainer
  display: flex
  font-family: "Roboto", sans-serif
  margin-bottom: 30px
  position: relative
  .aboutProfileContainer
    display: flex
    flex-shrink: 0
    gap: 55px
    align-items: center
    justify-content: space-between
    width: 100%
    > div:first-child
      display: flex
    .infoContainer
      display: flex
      flex-direction: column
      margin-left: 54px
      justify-content: center
      .displayName
        font-size: 25px
        color: #030D21
      .titleAndCompanyJob
        margin-top: 10px
        font-size: 17px
        color: #030D21
        font-family: Roboto Medium, Roboto, sans-serif
      .email
        margin-top: 10px
        font-size: 17px
        color: #8B98B0
        font-family: Roboto Medium, Roboto, sans-serif
      .companyJob
        font-size: 17px
        color: #8B98B0
      .titleJob
        font-size: 17px
        color: #8B98B0
      .headlineJob
        font-size: 17px
        color: #8B98B0
      .industries
        display: flex
        font-size: 17px
        color: #030D21