.wrapper
  display: flex
  flex-direction: column
  width: 100%
.headerContainer
  display: flex
  font-family: "Roboto", sans-serif
  margin-bottom: 30px
  .aboutProfileContainer
    display: flex
    flex-shrink: 0
    gap: 55px
    align-items: center
    .photoContainer
      border-radius: 100px
      width: 137px
      height: 137px
      overflow: hidden
      img
        width: 100%
    .infoContainer
      display: flex
      flex-direction: column
      gap: 13px
      .displayName
        font-size: 25px
        color: #030D21
      .companyJob
        font-size: 17px
        color: #8B98B0
      .titleJob
        font-size: 17px
        color: #8B98B0
      .headlineJob
        font-size: 17px
        color: #8B98B0
      .industries
        display: flex
        font-size: 17px
        color: #030D21