.container
  font-family: "Roboto", sans-serif
  display: flex
.row1
  justify-content: space-between
  flex: 1
  padding-right: 10px
.business
  display: flex
  justify-content: space-between
.row2
  flex: 1
  padding-left: 10px
.accountSettings
  font-size: 22px
  font-weight: 800
.subTitle
  font-size: 16px
  font-weight: 800
.buttons
  text-align: end
  margin-top: 10px
.icons
  display: flex
  margin: 10px 0 20px 0
  align-items: center
  &:hover
    cursor: pointer
    color: #9a9a9a
    svg
      path
        fill: #8798cf
.icon
  width: 24px
  margin-right: 10px
  display: flex
.delete
  color: #FB0D54
