.container
  display: flex
  justify-content: flex-start
  > button
    white-space: nowrap
    margin-left: 20px
    &:first-child
      margin-left: 0
  .buttonCall
    background: #1557FF
    color: #FFFFFF
    border: none
    &:hover
      background: #114EEA
    &:disabled
      background: #c7cee3