.container
  display: inline-flex
  gap: 20px
  > div
    display: flex
    gap: 10px
    &:last-child
      margin-left: auto
  .buttonCall
    background: #1557FF
    color: #FFFFFF
    border: none
    &:hover
      background: #114EEA