.formJobContainer
  display: flex
  flex-direction: column
  gap: 20px
  .inputs
    display: flex
    flex-direction: column
    gap: 20px
  .buttons
    display: flex
    gap: 20px
.jobContainer
  display: flex
  gap: 20px
  .fields
    display: flex
    flex-direction: column
    gap: 7px
    color: #3a3a3a
    font-size: 16px
  .edit
    display: flex
    align-items: center
    cursor: pointer
    opacity: 0.5
    transition: 0.2s
    &:hover
      opacity: 1
    *
      fill: #81b0ff