.container
  position: absolute
  right: 0
  top: 0
  gap: 20px
  display: flex
  .noActive
    opacity: 0.3
.createRoleContainer
  display: flex
  flex-direction: column
  gap: 20px
  .stepContainer
    display: flex
    gap: 20px
    flex-direction: column
  .buttonsContainer
    display: flex
    gap: 20px
    justify-content: center
  .title
    font-family: "Roboto", sans-serif
    font-size: 17px
    color: #8B98B0