.button
  font-family: "Roboto", sans-serif
  font-size: 16px
  height: 40px
  display: inline-flex
  align-items: center
  justify-content: center
  gap: 8px
  border: 2px solid #BFD5FA
  border-radius: 10px
  color: #629CFF
  cursor: pointer
  transition: 0.2s
  background: none
  &:hover
    border-color: #629CFF
  &:focus
    outline: none