.container
  display: flex
  flex-direction: column
  gap: 30px
.containerNotFoundUsers
  display: flex
  justify-content: center
  margin-top: 30px
  img
    width: 120px
    opacity: 0.1
    animation: pulse 5s infinite

@keyframes pulse
  0%
    transform: scale(1)
  50%
    transform: scale(1.3)
  100%
    transform: scale(1)