.infoContainer
  width: 100%
  margin-top: 23px
  &:first-child
    margin-top: 0
  .title
    font-size: 17px
    color: #8B98B0
  .content
    font-size: 18px
    color: #030D21
    margin-top: 10px
.flex
  display: flex
  flex-wrap: wrap
  gap: 15px
.save
  background: #F2F5FA!important
  padding: 0
  width: 89px
  &:hover
    background: #e4eeff!important
.cancel
  background: #f2f2f2!important
  &:hover
    background: #eaeaea!important
.editTagButton
  border-radius: 100%
  rect
    transition: 0.2s!important
  > div
    padding: 0 10px!important
  &:hover
    rect
      fill: #0078ff!important