.container
  display: flex
  justify-content: space-between
  a
    margin-right: 42px
    align-items: center
    &:last-child
      margin-right: 0
  &.unauthorized
    justify-content: flex-end
    a
      margin-right: 15px
      &:last-child
        margin-right: 0
.activeLink
  path
    fill: #2676fc
  rect
    fill: #2676fc
.activeLinkAdmin
  path
    fill: #FFB600
  rect
    fill: #FFB600