.container
  width: 300px
  display: flex
  justify-content: space-between
  a
    align-items: center
  &.unauthorized
    justify-content: flex-end
    a
      margin-right: 15px
      &:last-child
        margin-right: 0
.activeLink
  path
    fill: #2676fc